<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |othernews|}}
      <li class="list-group-item">

        {{#link-to 'article' othernews.name}}
          <div class="flex-container">

            <div class="flex-item">
              <img class="feedImg" src= {{othernews.urlToImage}}>
            </div>
            <div class="flex-item">
              <h3>{{othernews.title}} - {{othernews.author}}</h3>
              <br> {{othernews.description}}
              <br> Upvotes: {{othernews.upVotes}}
            </div>

          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
