<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |article|}}
      <li class="list-group-item">
        <div class="flex-container">

          <div class="flex-item">
            <img class="feedImg" src= {{article.urlToImage}}>
          </div>
          <div class="flex-item">
            <h3>
            {{article.title}} - {{article.author}}
          </h3>
            <br> <strong>Description: </strong>{{article.description}}
            <br> <strong>Source: </strong>{{article.url}}
          </div>
        </div>
      </li>
      <a class="btn btn-primary" target="_blank" href= {{article.url}}>Read Article!</a>
      <button type="button" class="btn btn-success" {{action "upVote"}}>Up Vote</button>
      <span>{{article.upVotes}}</span>
    {{/each}}
  </ul>

  <form data-chat="chat-form" class="cb-container" onsubmit="event.preventDefault();">
    <div class="input-group">
      <label for="js-message-input" class="sr-only">Message:</label>
      <input type="text" class="form-control" data-chat="message-input" autofocus>
      <span class="input-group-btn">
        <button {{action "addMessage"}} class="btn btn-primary" type="submit">Comment</button>
      </span>
    </div>
    <!-- /input-group -->
  </form>
</div>
{{#each model as |article|}}
  <div class="panel panel-default">
    {{#each article.messages as |message|}}
      <h1> {{message}}</h1>
      {{else}}
        <h1> No messages</h1>
    {{/each}}
  </div>
{{/each}}
{{outlet}}
