<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |article|}}
      <li class="list-group-item">
        <div class="flex-container">

          <div class="flex-item">
            <img class="feedImg" src= {{article.urlToImage}}>
          </div>
          <div class="flex-item">
            <h3>
            {{article.title}} - {{article.author}}
          </h3>
            <br> {{article.description}}
          </div>

          <div class="flex-item">
            <h3>
              UpVotes: {{article.upVotes}}
            </h3>

        </div>
      </div>
      </li>
      <a class="btn btn-primary" target="_blank" href= {{article.url}}>Read News!</a>
      <button {{action "upVote"}}>Up Vote</button>
    {{/each}}
  </ul>

  <form data-chat="chat-form" class="cb-container" onsubmit="event.preventDefault();">
        <div class="input-group">
            <label for="js-message-input" class="sr-only">Message:</label>
            <input type="text" class="form-control" data-chat="message-input" autofocus>
            <span class="input-group-btn">
        <button {{action "addMessage"}} class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
        <!-- /input-group -->
    </form>
</div>

<div class="panel panel-default">
{{#each model.messages as |item|}}
<h1> {{item}}</h1>
{{else}}
<h1> No messages</h1>
{{/each}}
  </div>
{{outlet}}
